/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping-term-ms = <200>;
};

&led_strip { chain-length = <17>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <4 3>;
            bindings = <&kp TAB>;
        };

        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };

        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };

        DLT {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
        };

        HME_CMB {
            bindings = <&kp HOME>;
            key-positions = <30 31>;
        };

        END_CMB {
            bindings = <&kp END>;
            key-positions = <33 32>;
        };
    };

    macros {
        L1: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&mo 1>,
                <&macro_press>,
                <&rgb_ug RGB_COLOR_HSB(244,90,49)>;

            label = "NEW_MACRO";
        };

        L2: L2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&mo 2>,
                <&macro_press>,
                <&rgb_ug RGB_COLOR_HSB(118,88,49)>;

            label = "L2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W      &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I      &kp O           &kp P
&kp A        &kp S      &kp D  &kp F  &kp G    &kp H  &kp J  &kp K      &kp L           &kp BACKSPACE
&mt LCTRL Z  &kp X      &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT         &mt LSFT RET
&kp SPACE    &kp LCTRL                                                  &kp LEFT_SHIFT  &mo 1
            >;
        };

        left_layer {
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp SLASH        &kp ASTERISK  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AMPERSAND
&kp NUMBER_6      &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp NUMBER_0    &kp PLUS         &kp MINUS     &kp LBKT              &kp RBKT               &kp BACKSPACE
&kp SINGLE_QUOTE  &kp TILDE     &kp PIPE      &kp NUHS      &kp TILDE2      &kp EXCLAMATION  &kp QUESTION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DEL
&mo 2             &kp LGUI                                                                                                       &none                  &none
            >;
        };

        right_layer {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp CRRT   &kp AMPS      &kp KMLT      &kp LPRN         &kp RPRN
&kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp MINUS  &kp KP_EQUAL  &kp LBRC      &kp RBRC         &kp BKSP
&kp LSFT      &kp KPLS      &kp LBKT      &kp RBKT      &kp BSLH        &kp UNDER  &kp LEFT      &kp UP_ARROW  &kp RIGHT_ARROW  &kp DOWN_ARROW
&none         &kp LCTL                                                                                         &kp SPC          &none
            >;
        };

        tri_layer {
            bindings = <
&kp NUM_1   &kp NUM_2   &kp NUM_3   &kp NUM_4  &kp NUM_5    &trans  &trans     &trans        &trans      &trans
&kp F1      &kp F2      &kp F3      &kp F4     &kp F5       &trans  &kp PG_UP  &kp K_VOL_UP  &kp K_MUTE  &trans
&bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &kp F6     &kp F7       &trans  &kp PG_DN  &kp K_VOL_DN  &trans      &trans
&to 4       &trans                                                                           &trans      &to 0
            >;
        };

        KiCAD {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4                    &kp NUMBER_5                        &trans  &trans  &trans  &trans  &trans
&kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9                    &kp NUMBER_0                        &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &rgb_ug RGB_COLOR_HSB(0,88,48)  &rgb_ug RGB_COLOR_HSB(238,86,50)    &trans  &trans  &trans  &trans  &trans
&to 0         &kp TAB                                                                                                                 &trans  &trans
            >;
        };
    };
};
